<div class="container">
  <h1>Edit Profile</h1>
  <hr />
  <form
    enctype="multipart/form-data"
    action="/dashboard/editprofile"
    method="POST"
    class="form-horizontal"
    role="form"
  >
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src= <%= typeof user.image.data!='undefined'?user.image.data:
          'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp'%>
          alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
          <h6>Upload a different photo...</h6>
          <input name="testImage" type="file" class="form-control" />
        </div> <%- include("./partials/valid_msg",{name: "image.data"}); %>
      </div>

      <!-- edit form column --> 
      <div class="col-md-9 personal-info"> 
        <%- include("./partials/messages"); %>
        <h3>Personal info</h3>
        <div class="form-group">
          <label for="name" class="col-lg-3 control-label">Full Name:</label>

          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="name"
              value="<%= typeof user.name != 'undefined' ? user.name : '' %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "name"}); %>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Company:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="company"
              value="<%= typeof user.company !='undefined'?user.company : ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "company"}); %>
        </div>
        <div class="form-group">
          <label for="email" class="col-lg-3 control-label">Email:</label>

          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="email"
              value="<%= typeof user.email !='undefined'?user.email : ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "email"}); %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Address:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="text"
              name="address"
              value="<%= typeof user.address !='undefined'?user.address : ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "address"}); %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Age:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="number"
              name="age"
              value="<%= typeof user.age !='undefined'?user.age : ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "age"}); %>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Designation:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="text"
              name="position"
              value="<%= typeof user.position!='undefined'?user.position: ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "position"}); %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Mobile:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="number"
              name="mobile"
              value="<%= typeof user.mobile!='undefined'?user.mobile: ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "mobile"}); %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Github:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="text"
              name="github"
              value="<%= typeof user.github !='undefined'?user.github : ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "github"}); %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Website:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="text"
              name="website"
              value="<%= typeof user.website!='undefined'?user.website: ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "website"}); %>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Linkedin:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="text"
              name="linkedin"
              value="<%= typeof user.linkedin!='undefined'?user.linkedin: ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "linkedin"}); %>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Twitter:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="text"
              name="twitter"
              value="<%= typeof user.twitter!='undefined'?user.twitter: ''  %>"
            />
          </div>
          <%- include("./partials/valid_msg",{name: "twitter"}); %>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="submit" class="btn btn-primary" value="Save Changes" />
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<hr />
