<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i><%= typeof update!='undefined'?update:"Add" %>    Role
        </h1>
        <%- include("./messages"); %>
        <form action= <%= typeof update!='undefined'? `/dashboard/editrole/${_id}`:"/dashboard/addrole" %>    method="POST">
          <div class="m-2 form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="m-2 form-group">
            <p>Role</p>
            <input type="checkbox" id="role_can_create" name="role_can_create" value="true"<%= role_can_create==true?"checked":""%>>
            <label for="vehicle1"> Can Create</label>
            <br>        <input type="checkbox" id="role_can_read" name="role_can_read" value="true" <%= role_can_read==true?"checked":""%>>
            <label for="vehicle2"> Can Read</label>
            <br>        <input type="checkbox" id="role_can_update" name="role_can_update" value="true"<%= role_can_update==true?"checked":""%>>
            <label for="vehicle3"> Can Update</label>
            <br>       <input type="checkbox" id="role_can_delete" name="role_can_delete" value="true"<%= role_can_delete==true?"checked":""%>>
            <label for="vehicle3"> Can Delete</label>      <p>User</p>
            <input type="checkbox" id="user_can_create" name="user_can_create" value="true"<%= user_can_create==true"checked":""%>>
            <label for="vehicle1"> Can Create</label>
            <br>        <input type="checkbox" id="user_can_read" name="user_can_read" value="true"<%= user_can_read==true?"checked":""%>>
            <label for="vehicle2"> Can Read</label>
            <br>        <input type="checkbox" id="user_can_update" name="user_can_update" value="true"<%= user_can_update==true?"checked":""%>>
            <label for="vehicle3"> Can Update</label>
            <br>       <input type="checkbox" id="user_can_delete" name="user_can_delete" value="true"<%= user_can_delete==true?"checked":""%>>
            <label for="vehicle3"> Can Delete</label>
          </div>
          <!-- <div class="m-2 form-group"> -->
            <!-- <p>User</p>
            <input type="checkbox" id="can_create" name="can_create" value="true">
            <label for="vehicle1"> Can Create</label>
         <br>   <input type="checkbox" id="can_read" name="can_read" value="true">
            <label for="vehicle2"> Can Read</label>
         <br>   <input type="checkbox" id="can_update" name="can_update" value="true">
            <label for="vehicle3"> Can Update</label>
         <br>   <input type="checkbox" id="can_delete" name="can_delete" value="true">
            <label for="vehicle3"> Can Delete</label>
          </div> -->
       
        <button type="submit" class="m-2 btn btn-primary btn-block">
          <%= typeof update!='undefined'?update:"Add" %> Role
          </button>
        </form>
     </div>
    </div>
  </div>