<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i><%= typeof update!='undefined'?update:"Add" %>    User
        </h1>
        <%- include("./messages"); %>
        <form action= <%= typeof update!='undefined'? `/dashboard/edituser/${_id}`:"/dashboard/adduser" %>    method="POST">
          <div class="m-2 form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="m-2 form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="m-2 form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="m-2 form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="m-2 form-group">
            <label for="cars">Choose Role</label>
<br>
<select  class="form-select"  name="role" id="role">
  <% for (var i = 0; i < data.length; i++) {%> 

    
  <option  value="<%= data[i]._id %>" <%= typeof role_id!='undefined'?  data[i]._id==role_id?"selected":"":'' %> ><%= data[i].name  %> </option>
  <%}%> 

</select>

          </div>
          
          <button type="submit" class="m-2 btn btn-primary btn-block">
            <%= typeof update!='undefined'?update:"Add" %> User
          </button>
        </form>
      </div>
    </div>
  </div>
  