<div class="app-table">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Slug</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% for (var i = 0; i < data.length; i++) {%>
    <tbody>
      <tr>
        <td><%= i +1 ??"Null"%></td>
        <td><%= data[i].name??"Null" %></td>
        <td><%= data[i].slug??"Null" %></td>
        <td>
          <form
            style="display: inline-block"
            action="<%=`/dashboard/roles/${data[i]._id}` %>"
            method="GET"
          >
            <% if (role.role.can_delete==true) { %>
            <button class="table-button" type="submit">
              Delete <i class="fa-solid fa-xmark"></i>
            </button>
            <% } %>
          </form>
          <a href="<%=`/dashboard/editrole/${data[i]._id}` %>">
            <% if (role.role.can_update==true) { %>
            <button class="table-button">
              Edit
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <% } %>
          </a>
        </td>
      </tr>
    </tbody>
    <%}%>
  </table>
</div>
