<% for (var i = 0; i < data.length; i++) {%>
    <% console.log(data); %> 
  <tbody>
    <tr>
      <td><%= data[i]._id ??"Null"%></td>
      <td><%= data[i].name??"Null" %></td>
      <td><%= data[i].email??"Null" %></td>
      <td><%= data[i].password??"Null" %></td>
      <td><%= data[i].slug??"Null" %></td>
      
    </tr>
  </tbody>
<%}%>
